{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Books</h1>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Author</td>
        </tr>
        </thead>
        <tbody>
        {% for book in resources.data %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
