{% extends "@!SyliusUxSemanticUi/layout.html.twig" %}

{% block logo %}
    <div style="max-width: 200px; margin:0 auto;">
        <img src="https://demo.monofony.com/assets/backend/img/admin-logo.svg" class="ui fluid image">
    </div>
{% endblock %}
